@import "./normalize.css";
@import "./general.css";
@import "./header.css";
@import "./footer.css";
@import "./boton-whatsapp.css";

/* Estilo para la sección formulario */
#formulario {
  width: 460px;
  background-color: #fbfbfb;
  border: 1px solid #0d1b2b;
  margin: 20px auto;
  padding: 20px 0;
  border-radius: 10px;
}

li {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #0e0e0e;
  list-style: none;
}

input {
  background-color: #fbfbfb;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #0d1b2b;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
}

textarea {
  background-color: #fbfbfb;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #0d1b2b;
  resize: none;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

button[type="submit"] {
  height: 45px;
  margin-top: 10px;
  background-color: #0d1b2b;
  color: #fff;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

button[type="submit"]:hover {
  opacity: 0.95;
}

.obligatorio,
.error {
  color: #ab2e46;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

::placeholder {
  color: #a8a8a8;
  opacity: 1; /* Para Firefox */
}

.envio-exitoso {
  background-color: #28a745;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  position: fixed;
  width: 0;
  padding: 10px;
  top: 15vh;
  right: 4vw;
  text-align: center;
  opacity: 0;
  overflow: hidden;
  transition: width 0s 0.4s, opacity 0.4s 0s;
}

.envio-exitoso.active {
  opacity: 1;
  width: 250px;
  transition: width 0s 0s, opacity 0.6s 0s;
}

/* Estilo para la sección ubicacion */
#ubicacion {
  width: 600px;
  margin: 20px auto;
  border-radius: 10px;
}

.google-map {
  width: 100%;
  height: 450px;
}
