* {
  font-size: 18px;
  font-family: Inter, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: 10vh auto 15vh;
  background-color: rgb(236, 239, 243);
}

main {
  grid-area: main;
}

h2 {
  font-size: 2rem;
  color: rgb(13, 19, 26);
  font-weight: 800;
  text-align: center;
}
