/* ----HEADER---- */
header {
    background-color: var(--secondary-color);
}

header .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: 10vh;
    padding: 0 5%;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    color: var(--white-color);
    font-size: clamp(0.9em, 3.8vw, 2em);
    font-family: 'Roboto Slab', serif;
    text-shadow: 1px 1px 1px #000;
}

header .logo a {
    text-decoration: none;
    color: var(--white-color);
}

header .sesion {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    font-size: clamp(0.8em, 2vw, 1em);
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
}

.sesion img {
    width: 20px;
    margin-left: 2px;
}

.sesion .login-succesfully {
    display: flex;
    align-items: center;
}

.sesion .login-required {
    color: var(--white-color);
    text-decoration: none;
}

.sesion .login-required:hover {
    color: #d0d0d0;
}

/* ----FOOTER---- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    text-align: center;
    min-height: 10vh;
}

footer p {
    padding: 25px 10px;
    color: var(--white-color);
    margin: auto;
}