.logo a {
  font-size: 2rem;
  font-weight: 700;
  font-family: Rubik, Arial, sans-serif;
  /* color: rgb(13, 19, 26); */
  color: #0d1b2b;
  text-align: center;
  text-decoration: none;
}

header {
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: rgb(236, 239, 243);
  display: grid;
  grid-template-columns: 3fr 2fr;
  min-height: 10vh;
  grid-area: header;
  transition: box-shadow 0.3s ease-in;
}

.header-sombra {
  box-shadow: 0 6px 14px #0000002a;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

nav li a {
  margin: 0 15px;
  color: rgb(13, 19, 26);
  text-decoration: none;
}

nav li .active {
  border-bottom: 2px solid #000;
}

nav li a:hover {
  border-bottom: 2px solid #000;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 0 20px;
  }

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .cerrar-menu {
    color: #ececec;
  }

  nav {
    justify-content: flex-start;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  nav.visible {
    opacity: 1;
    visibility: visible;
  }

  nav ul {
    flex-direction: column;
    align-items: end;
  }

  nav li {
    margin: 10px 0;
  }

  nav li .active {
    border-bottom: 2px solid #ecececec;
  }

  nav li a:hover {
    border-bottom: 2px solid #ecececec;
  }

  nav ul li a {
    color: #ecececec;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  header {
    padding: 0 5px;
  }
}
