@import "./normalize.css";
@import "./general.css";
@import "./header.css";
@import "./footer.css";
@import "./boton-whatsapp.css";

main {
  text-align: center;
  margin: 20px auto;
  width: 90%;
  max-width: 1500px;
}

main img {
  width: 40%;
  margin: 10px;
}

#nosotros-principal {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  margin-bottom: 20px;
}

.contenedor-nosotros {
  width: 50%;
}

.contenedor-nosotros p {
  margin: 10px 0;
}

#nosotros-mision {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.contenedor-mision {
  width: 50%;
}

.contenedor-mision h2 {
  text-align: left;
  margin-bottom: 20px;
}

.contenedor-mision p {
  margin: 10px 0;
}
