@import "./normalize.css";
@import "./general.css";
@import "./header.css";
@import "./footer.css";
@import "./boton-whatsapp.css";

/* Estilo para la sección de servicios */
.servicios-section {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.servicios-section h1 {
  margin: auto;
  margin-bottom: 10px;
}

/* Estilo para los contenedores de servicios */
.servicio-container {
  width: 50%;
  text-align: center;
  margin-top: 20px;
  box-sizing: border-box;
}

/* Estilo para cada servicio individual */
.servicio {
  text-align: center;
  padding: 10px;
  margin: 20px;
}

/* Estilo para las imágenes de servicio */
.servicio img {
  max-width: 100%;
}

/* Estilo para los títulos de servicio */
.servicio h2 {
  margin-top: 10px;
}

/* Estilo para los párrafos de servicio */
.servicio p {
  margin-top: 5px;
  margin-bottom: 20px;
}
