* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Inter, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: 10vh auto 15vh;
  background-color: rgb(236, 239, 243);
}

h1 a {
  font-size: 2rem;
  font-family: "Lucida Sans", sans-serif;
  color: rgb(13, 19, 26);
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: rgb(13, 19, 26);
  font-weight: 800;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  min-height: 50px;
  grid-area: header;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 20px;
}

.logo a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  white-space: nowrap;
}

nav li a {
  margin: 0 15px;
  color: rgb(13, 19, 26);
  text-decoration: none;
}

nav li a:hover {
  border-bottom: 2px solid #000;
}

main {
  grid-area: main;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  height: 500px;
}

.controles {
  height: 30px;
  width: 30px;
  margin: 30px;
  background-color: transparent;
  border: none;
  border-left: 10px solid rgba(230, 230, 230, 1);
  border-top: 10px solid rgba(230, 230, 230, 1);
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

#retroceder {
  transform: rotate(-45deg);
}

#avanzar {
  transform: rotate(135deg);
}

.controles:hover {
  border-color: #777;
}

.mensaje-principal {
  width: 80%;
  margin: 10px auto;
  padding: 5px;
}

.mensaje-principal img {
  width: 100%;
}

footer {
  min-height: 200px;
  background-color: #0d1b2b;
  color: #fff;
  text-decoration: none;
  text-align: center;
  grid-area: footer;
}

.redes-sociales {
  margin: 30px;
}

.iconos-redes-sociales {
  margin: 20px;
}

.iconos-redes-sociales img {
  width: 40px;
  margin: 0 10px;
}

.boton-whatsapp {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  transition: scale 1s ease;
}

.boton-whatsapp:hover {
  animation: whatsapp-animation 1s ease 0s 1 normal forwards;
  scale: 1.2;
}

.boton-whatsapp img {
  height: 70px;
}

@keyframes whatsapp-animation {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}
