/* ----VARIABLES---- */
:root {
  --main-bg-color: #091109;
  --secondary-bg-color: #162916;
  --text-light-color: rgba(235, 235, 235, 0.9);
  --text-dark-color: #222;
  --match-bg-color: #d5d5d5;
  --border-color: rgba(245, 245, 245, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --success-color: #008000d0;
  --partial-color: #222d;
  --error-color: #f00d;
  --info-green: #0f0;
  --info-red: #f00;
}

/* ----BASE STYLES---- */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--text-dark-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ----LAYOUT CONTAINERS---- */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  min-height: 80vh;
  padding: 20px 0;
}

/* ----BUTTONS---- */
.button {
  background-color: var(--secondary-bg-color);
  color: var(--text-light-color);
  cursor: pointer;
  padding: 10px 15px;
  text-shadow: 1px 1px 1px #000;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.25s ease, box-shadow 0.25s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.button:hover {
  background-color: #164716;
}

.button:focus {
  box-shadow: 0px 0px 10px 2px var(--shadow-color);
  outline: none;
}

/* ----HEADER BLOCK---- */
.header {
  background-color: var(--secondary-bg-color);
  padding: 15px 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  flex-wrap: wrap;
  gap: 10px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-light-color);
}

.header__logo-image {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.header__logo-text {
  font-weight: bold;
  font-size: clamp(1.6em, 5vw, 2.5em);
  font-family: "Roboto Slab", serif;
  text-shadow: 1px 1px 1px #000;
  margin: 0;
}

.header__session {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light-color);
  font-size: clamp(0.8em, 2vw, 1em);
  font-weight: 600;
  text-shadow: 1px 1px 1px #000;
  gap: 5px;
}

.header__session img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.header__session-login-required {
  color: var(--text-light-color);
  text-decoration: none;
}

.header__session-login-required:hover {
  color: #d0d0d0;
}

/* ----FOOTER BLOCK---- */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg-color);
  text-align: center;
  min-height: 10vh;
  padding: 20px 15px;
}

.footer__text {
  color: var(--text-light-color);
  margin: 0;
}

/* ----MONTH SELECT BLOCK---- */
.month-select {
  width: 180px;
  position: relative;
  margin: 30px auto;
}

.month-select__button {
  width: 100%;
  padding-right: 30px; /* Space for the arrow */
  appearance: none; /* Remove default select arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  cursor: pointer;
}

.month-select__arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--text-light-color);
  border-bottom: 2px solid var(--text-light-color);
  pointer-events: none; /* Allow clicks to pass through to the select */
  transition: transform 0.25s ease, border-color 0.25s ease;
}

.month-select__button:hover + .month-select__arrow {
  border-color: #d0d0d0;
  transform: translateY(-50%) rotate(45deg) scale(1.1);
}

/* ----MATCHDAY SECTION BLOCK---- */
.matchday {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 15px;
}

/* MATCHDAY CHOOSE ELEMENT */
.matchday__choose {
  width: 90%;
  max-width: 450px;
  margin: 0 auto 30px;
  display: grid;
  grid-template-columns: 1.5fr 7fr 1.5fr;
  font-size: clamp(0.75em, 3.8vw, 1em);
  text-shadow: 1px 1px 1px #000;
  color: var(--text-light-color);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.matchday__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-light-color);
  transition: background-color 0.25s ease;
  cursor: pointer;
  padding: 10px 0;
}

.matchday__arrow:hover {
  background-color: #d0d0d0;
}

.matchday__arrow-icon {
  width: 20px;
  height: 20px;
  border-left: 4px solid var(--main-bg-color);
  border-bottom: 4px solid var(--main-bg-color);
}

.matchday__arrow--left .matchday__arrow-icon {
  transform: rotate(45deg);
  margin-left: 5px;
}

.matchday__arrow--right .matchday__arrow-icon {
  transform: rotate(225deg);
  margin-right: 5px;
}

.matchday__arrow--no-display {
  visibility: hidden; /* Use visibility to maintain layout space */
  pointer-events: none;
}

.matchday__current {
  background-color: var(--secondary-bg-color);
  min-height: 50px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.matchday__current h2 {
  font-size: 1.2em;
  margin: 0;
}

/* MATCHDAY LIST ELEMENT */
.matchday__list {
  display: grid;
  gap: 10px;
  width: 95%;
  margin: 30px auto 0;
  padding: 5px;
}

/* MATCH ELEMENT */
.match {
  display: grid;
  grid-template-columns: 1.8fr 3.1fr 1.5fr 3.1fr 0.5fr;
  background-color: var(--match-bg-color);
  height: 60px;
  padding: 2px;
  transition: background-color 0.25s ease;
  user-select: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.match:hover {
  background-color: #c0c0c0;
  cursor: pointer;
}

/* MATCH DATE ELEMENT */
.match__date {
  display: grid;
  background-color: var(--secondary-bg-color);
  color: var(--text-light-color);
  font-size: 0.75em;
  text-align: center;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 5px 0;
}

.match__date-day,
.match__date-time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.match__date-day {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* MATCH TEAM ELEMENTS */
.match__team {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: clamp(0.65em, 3.3vw, 0.85em);
  font-weight: 700;
  margin: 0 5px;
  color: var(--text-dark-color);
}

/* MATCH SCORE ELEMENT */
.match__score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  font-weight: 700;
  font-size: 1.1em;
}

.match__score-team {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-light-color);
  border-radius: 4px;
  padding: 0 5px;
}

/* MATCH EXPAND PREDICTIONS ELEMENT */
.match__expand-predictions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.match__expand-predictions-arrow {
  width: 10px;
  height: 10px;
  transform: rotate(315deg);
  border-left: 2px solid var(--text-dark-color);
  border-bottom: 2px solid var(--text-dark-color);
  transition: transform 0.1s ease;
  margin-bottom: 2px;
}

.match__expand-predictions-arrow--rotate {
  transform: rotate(135deg);
  margin-top: 5px;
}

/* PREDICTION CONTAINER BLOCK */
.prediction-container {
  transition: height 0.5s ease-out;
  height: 0;
  overflow: hidden;
}

.predictions {
  display: grid;
  gap: 5px;
  background-color: var(--match-bg-color);
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 0.85em;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* SINGLE PREDICTION ELEMENT */
.prediction {
  display: grid;
  grid-template-columns: 1.8fr 3fr 1.7fr 3fr 0.5fr;
  background-color: var(--text-light-color);
  height: 35px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.prediction__name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.65em, 3.3vw, 0.8em);
  padding: 0 5px;
}

.prediction__team {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 5px;
  font-size: clamp(0.65em, 3.3vw, 0.8em);
}

.prediction__score {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  font-weight: 700;
  font-size: 1em;
}

.prediction__score-team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prediction__score-separator {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.prediction__result {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.85em;
  color: var(--text-light-color);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.prediction__result--exact-hit {
  background-color: var(--success-color);
}

.prediction__result--partial-hit {
  background-color: var(--partial-color);
}

.prediction__result--incorrect {
  background-color: var(--error-color);
}

/* ----ACTION BUTTONS BLOCK---- */
.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
}

.action-buttons__button {
  width: 100%;
}

.action-buttons__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  font-size: 0.9em;
  text-align: center;
  min-height: 20px; /* Reserve space to prevent layout shift */
}

.action-buttons__info--green {
  color: var(--info-green);
}

.action-buttons__info--red {
  color: var(--info-red);
}

/* ----LEADERBOARD SECTION BLOCK---- */
.leaderboard {
  max-width: 550px;
  margin: 40px auto;
  padding: 0 15px;
}

.leaderboard__container {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* LEADERBOARD TITLE ELEMENT */
.leaderboard__title {
  background-color: var(--secondary-bg-color);
  text-align: center;
  color: var(--text-light-color);
  font-size: clamp(0.75em, 3.8vw, 1em);
  border-bottom: 1px solid black;
  text-shadow: 1px 1px 1px #000;
  padding: 10px;
}

.leaderboard__title h2 {
  font-size: 1.2em;
  margin: 0;
}

/* LEADERBOARD TABLE ELEMENT */
.leaderboard__table {
  background-color: #797979;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  border-collapse: collapse;
}

.leaderboard__table th,
.leaderboard__table td {
  padding: 8px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Leaderboard Head */
.leaderboard__table-header {
  background-color: black;
  color: var(--text-light-color);
  font-size: 0.85em;
}

/* Leaderboard Body Cells*/
.leaderboard__table-body td {
  height: 30px;
}

/* Leaderboard Rows */
.leaderboard__table-body tr:nth-child(odd) {
  background-color: #d5d5d5;
}

.leaderboard__table-body tr:nth-child(even) {
  background-color: #e5e5e5;
}

/* Leaderboard Columns */
.leaderboard__table-body td:nth-child(2) {
  text-align: start;
  padding-left: 8px;
  font-weight: 700;
}

.leaderboard__table-body td:nth-child(3) {
  font-weight: 700;
}

/* LEADERBOARD REFERENCES */
.leaderboard__references {
  padding: 10px;
  background-color: var(--match-bg-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.leaderboard__reference {
  font-size: 0.85em;
  font-weight: 400;
  padding: 2px 0;
  margin: 0;
}

/* Position-based colors for leaderboard */
.leaderboard__reference--first,
.leaderboard__table-body .leaderboard__position--first {
  background-color: #008000; /* Verde */
  color: var(--text-light-color);
}

.leaderboard__reference--second,
.leaderboard__table-body .leaderboard__position--second {
  background-color: #f5f374; /* Amarillo claro */
}

.leaderboard__reference--third,
.leaderboard__table-body .leaderboard__position--third {
  background-color: #e8d747; /* Amarillo intenso */
}

.leaderboard__reference--fourth,
.leaderboard__table-body .leaderboard__position--fourth {
  background-color: #feb854;
}

.leaderboard__reference--fifth,
.leaderboard__table-body .leaderboard__position--fifth {
  background-color: #ff9807;
}

.leaderboard__reference--sixth,
.leaderboard__table-body .leaderboard__position--sixth {
  background-color: #d68526;
}

.leaderboard__reference--seventh,
.leaderboard__table-body .leaderboard__position--seventh {
  background-color: #ab2cf5;
  color: var(--text-light-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    text-align: center;
  }

  .header__logo {
    justify-content: center;
  }

  .matchday__choose {
    width: 100%;
  }

  .matchday__list {
    width: 100%;
  }

  .match {
    grid-template-columns: 1.5fr 2.5fr 1.2fr 2.5fr 0.5fr;
    height: auto;
    min-height: 50px;
    align-items: center;
  }

  .match__date {
    padding: 5px;
  }

  .match__team,
  .prediction__name,
  .prediction__team {
    font-size: clamp(0.6em, 2.8vw, 0.75em);
  }

  .prediction {
    height: auto;
    min-height: 30px;
    align-items: center;
  }

  .leaderboard__container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header__logo-text {
    font-size: clamp(1.4em, 6vw, 2em);
  }

  .matchday__choose {
    grid-template-columns: 1fr 5fr 1fr;
  }

  .match {
    grid-template-columns: 1.2fr 2fr 1fr 2fr 0.5fr;
  }

  .prediction {
    grid-template-columns: 1.2fr 2fr 1fr 2fr 0.5fr;
  }

  .leaderboard__table th,
  .leaderboard__table td {
    padding: 6px 3px;
    font-size: 0.8em;
  }
}
