main .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    min-height: 350px;
}

h1 {
    font-size: clamp(1.3em, 4vw, 2em);
    color: var(--white-color);
    text-align: center;
}

#login-form {
    display: grid;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
}

.login-message-container {
    display: grid;
    gap: 10px;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border: 1px solid #000;
}

.login-message-container .msg-type {
    font-size: 0.88em;
    font-weight: 600;
}

.login-message-container .msg-info {
    font-size: 0.75em;
}

.login-error-container {
    background-color: #ffebe8;
    border: 1px solid #dd3c10;
}

.logged-in-container {
    background-color: #e8f0fe;
    border: 1px solid #1877f2;
}

.login-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--main-color);
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#login-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
}

#login-button:disabled {
    cursor: not-allowed;
}